@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

body {
   
    min-height: 929px;
    
    }
    .login-img {
        height: 100vh;
        width: 500px;
        position: relative;
        /* border-left: 20px solid rgba(64, 148, 209, 1);
        border-bottom: 20px solid rgba(64, 148, 209, 1);
        border-top: 20px solid rgba(64, 148, 209, 1) ; */
        border: 20px solid rgba(64, 148, 209, 1);
        
      }
      
      .text-col{
        color: rgba(102, 102, 102, 1);
      
      }
      .login-img img {
        height: 100%;
        width: 100%;
        border: none; 
        display: block; 
      }
      
      .login-img::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 10px; 
        background-color: rgba(64, 148, 209, 1) 
      }
      
      .login-img::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%; 
        height: 10px; 
        background-color: #fff; 
      }
      .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .modal-main {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }
      input {
        font-family: "Poppins", sans-serif !important;
    }
    .active{
        color: white !important;
        background-color: salmon !important;
        
      }
    .signcontainer {
        position: relative;
        width: 100%;
        background-color: #fff;
        min-height: 100vh;
        overflow: hidden;
        font-family: "Inter", sans-serif;
    }
    
    .forms-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-family: "Inter", sans-serif;
    }
    
    .signin-signup {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 75%;
        width: 50%;
        transition: 1s 0.7s ease-in-out;
        display: grid;
        grid-template-columns: 1fr;
        z-index: 5;
    }
    
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0rem 0rem;
        transition: all 0.2s 0.7s;
        overflow: hidden;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        z-index: 2;
    }
    
    form.sign-up-form {
        opacity: 0;
        z-index: 1;
    }
    
    #sign-in-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0rem 0rem;
        transition: all 0.2s 0.7s;
        overflow: hidden;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        z-index: 2;
    }
    
    .title {
        font-size: 2.2rem;
        color: #444;
        margin-bottom: 10px;
    }
    
    .input-field {
        max-width: 380px;
        width: 100%;
        background-color: #f0f0f0;
        margin: 10px 0;
        height: 55px;
        border-radius: 0.3rem;
        display: grid;
        grid-template-columns: 15% 85%;
        padding: 0 0.4rem;
        position: relative;
    }
    
    .input-field i {
        text-align: center;
        line-height: 55px;
        color: #acacac;
        transition: 0.5s;
        font-size: 1rem;
    }
    
    .input-field input {
        background: none;
        outline: none;
        border: none;
        line-height: 1;
        font-weight: 600;
        font-size: 1rem;
        color: #333;
    }
    
    .input-field input::placeholder {
        color: #aaa;
        font-weight: 500;
    }
    
    .social-text {
        padding: 0.7rem 0;
        font-size: 1rem;
    }
    
    .social-media {
        display: flex;
        justify-content: center;
    }
    
    .social-icon {
        height: 46px;
        width: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0.45rem;
        color: #333;
        border-radius: 50%;
        border: 1px solid #333;
        text-decoration: none;
        font-size: 1.1rem;
        transition: 0.3s;
    }
    
    .social-icon:hover {
        background: #4481eb;
        border-color: #4481eb;
        color: white;
    }
    
    
    .login-btn {
        width: 380px;
       background-color: salmon;
        border: none;
        outline: none;
        height: 49px;
        border-radius: 0.3rem;
        /* display: block; */
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        margin: 10px 0;
        cursor: pointer;
        transition: 0.5s;
    }
    
    
    
    .login-btn:hover {
        background-color: #1F2937;
        color: white;
    
    }
    .post-btn {
        width: 120px;
       background-color: salmon;
        border: none;
        outline: none;
        height: 49px;
        border-radius: 0.3rem;
        /* display: block; */
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        margin: 10px 0;
        cursor: pointer;
        transition: 0.5s;
        margin-top: 40px;
    }
    
    
    
    .post-btn:hover {
        background-color: #1F2937;
        color: white;
    }
    .panel-btn {
        width: 380px;
       background-color: white;
        border: none;
        outline: none;
        height: 49px;
        border-radius: 0.3rem;
        /* display: block; */
        color: salmon;
        text-transform: uppercase;
        font-weight: 600;
        margin: 10px 0;
        cursor: pointer;
        transition: 0.5s;
    }
    
    
    
    .panel-btn:hover {
        background-color:#1F2937;
        color: white;
    }
    .banner-btn {
        width: 380px;
       background-color: white;
        border: none;
        outline: none;
        height: 49px;
        border-radius: 0.3rem;
        /* display: block; */
        color: salmon;
        text-transform: uppercase;
        font-weight: 600;
        margin: 10px 0;
        cursor: pointer;
        transition: 0.5s;
    }
    
    
    
    .banner-btn:hover {
        background-color:#1F2937;
        color: white;
    }
    
    .panels-container {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .signcontainer:before {
        content: "";
        position: absolute;
        height: 2000px;
        width: 2000px;
        top: -10%;
        right: 48%;
        transform: translateY(-50%);
        /* background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%); */
        background-color: salmon;
        transition: 1.8s ease-in-out;
        border-radius: 50%;
        z-index: 6;
    }
    
    .image {
        width: 100%;
        transition: transform 1.1s ease-in-out;
        transition-delay: 0.4s;
    }
    
    .panel {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        text-align: center;
        z-index: 6;
    }
    
    .left-panel {
        pointer-events: all;
        padding: 3rem 17% 2rem 12%;
    }
    
    .right-panel {
        pointer-events: none;
        padding: 3rem 12% 2rem 17%;
    }
    
    .panel .content {
        color: #fff;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }
    
    .panel h3 {
        font-weight: 600;
        line-height: 1;
        font-size: 1.5rem;
    }
    
    .panel p {
        font-size: 0.95rem;
        padding: 0.7rem 0;
    }
    
    .btn.transparent {
        margin: 0;
        background: none;
        border: 2px solid #fff;
        width: 130px;
        height: 41px;
        font-weight: 600;
        font-size: 0.8rem;
    }
    .banner-img{
       
  background-size: cover;
     height: 80vh;
    }
    
    .right-panel .image,
    .right-panel .content {
        transform: translateX(800px);
    }
    
    /* ANIMATION */
    
    .signcontainer.sign-up-mode:before {
        transform: translate(100%, -50%);
        right: 52%;
    }
    
    .signcontainer.sign-up-mode .left-panel .image,
    .signcontainer.sign-up-mode .left-panel .content {
        transform: translateX(-800px);
    }
    
    .signcontainer.sign-up-mode .signin-signup {
        left: 25%;
    }
    
    .signcontainer.sign-up-mode form.sign-up-form {
        opacity: 1;
        z-index: 2;
    }
    
    .signcontainer.sign-up-mode form.sign-in-form {
        opacity: 0;
        z-index: 1;
    }
    
    .signcontainer.sign-up-mode .right-panel .image,
    .signcontainer.sign-up-mode .right-panel .content {
        transform: translateX(0%);
    }
    
    .signcontainer.sign-up-mode .left-panel {
        pointer-events: none;
    }
    
    .signcontainer.sign-up-mode .right-panel {
        pointer-events: all;
    }